.horizontallist{
    display: inline-flex;
    padding: 27px;
}

#verticallist{
    list-style: none;
    word-spacing: 1px;
    text-align: center;
}

#box{
    border-style: solid;
    border-color: gray;
    padding: 25%;
    margin: 1px;
}

ul#verticallist{
    line-height: 10px;
    width: 1280px;
  }

#head{
    text-align: center;
    font-size: 1.2cm;
    font-weight: bold;
}