.horizontallist{
    display: inline-flex;
    padding: 2px;
}

#verticallist{
    list-style: none;
    word-spacing: 1px;
    text-align: center;
}

div.box{
    border-style: solid;
    border-color: gray;
    
    width: 2.7cm;
    height: 2.7cm;
}

div.letter{
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
}

ul#verticallist{
    line-height: 10px;
    width: 1280px;
}

#head{
    text-align: center;
    font-size: 1.2cm;
    font-weight: bold;
}

